

.chat-room-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.chat-room-list li {
    height: 100px;
    padding: 10px;
    background-color: var(--color-blue);
    flex: 1 1 calc(50% - 4px);
    border-radius: var(--border-radius);

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;


    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}


.hoverId{
    nav-down: auto;
}

.hoverTitle{
    font-size: small;
    display: none;
}



.hoverTemp:hover .hoverTitle{
    display: block;
}

.hoverTemp:hover .hoverId{
    display: none;
}
